# Output directory
.next

# Package manager
node_modules
pnpm-lock.yaml

# IDE settings
.idea
.vscode

# Sanity folder
sanity

# Husky
.husky

# Config files
.gitignore
.prettierignore
.prettierrc
.lintstagedrc

# Environment variables
.env.local
